body{
    margin: auto;
    display: block;
    
}
header{
    margin: auto auto;
    background-color: #00468F;
}
header, footer{
    text-align: center;
    
}

.navi{
    font-size: 17px;
    text-align: right;
    border: 1px solid black;
    background-color: gray;
 
 }
 
 .navi li{
     list-style: none;
     display: inline-block;
     padding: 10px 40px;
 
 }
 h1{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    }
    
section{
    padding: 20px 80px;
    border: 1px solid black;
    background-color: lightgray;
    float: inline-end;
    margin: 30px 30px;
    border-radius: 20px;
}
.table{
    text-align: center;
}
.artic2{
    text-align: center;
}

 